{% extends 'base.html.twig' %}
{% block title %}HousingRental - Connexion{% endblock %}
{% block content %}
<div>
    <form method="post">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div>
            <input type="checkbox" name="_remember_me">
            <p>Se souvenir de moi</p>
        </div>
        <button type="submit">Connexion</button>
    </form>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}