.titreMargin{
    font-size: 35px;
    margin: 20px;
}
.card:hover{
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
nav.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
}
div.navHeight {
    height: 60px;
}
.bgCategory {
    background-image: url("../images/backgrounds/appartement.jpg");
}
main.container-fluid {
    flex-direction: column;
    min-height: calc(100vh - 150px);
}
main.container-fluid > h2 {
    margin-top: 70px;
}
main.container-fluid > div.homeBckg {
    height: fit-content;
    margin-top: 60px;
}
main.container-fluid > div.homeBckg > h2 {
    margin-top: 10px;
}
footer {
    height: 150px;
}