/* ------------------------------------------------------------------------------------------------------------------ */
/* CSS - Fonts */
/* ------------------------------------------------------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS - Scrollbar */
/* ----------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-FF);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* CSS - Variables */
/* ------------------------------------------------------------------------------------------------------------------ */
:root {
    --color-FF: #FFFFFF;
    --color-24: #242424;
    --color-red: #F8154B;
    --color-green: #1AC7A8;
    --color-primary-light: #9ED9FF;
    --color-primary: #68CDFF;
    --color-primary-dark: #1C8BD1;
    --color-grey-light: #D4D4D4;
    --base-color: var(--color-44);
    --box-shadow: 0px 2px 6px #00000050;
}