.detailscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF80;
    backdrop-filter: blur(2px);
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
}

.detailscontainer > .droite {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    height: fit-content;
    padding-top: 15px;
    overflow: hidden;
}

.prix {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50px;
}

.detailscontainer > .droite > div > h3 {
    font-size: 80px;
    margin-top: 40px;
}

.detailscontainer > .droite > #carousel {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.detailscontainer > .droite > #carousel > img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 3px;
}

.detailscontainer > .droite > .houseDescription {
    width: 70%;
    height: 40%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ficheUser {
    width: 70%;
    height: 40%;
    overflow: hidden;
    margin-top: 20px;
}

.profil {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.photoUser {
    width: 250px;
    height: 200px;
    display: flex;
    margin-bottom: 30px;
}

.photoUser > img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

@media screen and (max-width: 1000px) {
    .detailscontainer {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .detailscontainer {
        width: 100%;
    }

    .prix {
        padding: 0;
        margin-bottom: 10px;
        align-items: flex-start;
    }

    .profil {
        flex-direction: column;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .detailscontainer {
        width: 100%;
    }

    .prix {
        padding: 0;
        margin-bottom: 10px;
        align-items: flex-start;
    }
}