* {
    margin: 0;
    padding: 0;
    color: var(--color-FF);
    text-decoration: none;
    outline: none;
    user-select: none;
    list-style: none;
    box-sizing: border-box;
}
a, input, button {
    border: none;
    background: none;
    cursor: pointer;
}