/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Variables */
/* ----------------------------------------------------------------------------------------------------------------- */
:root {
    --color-FF: #FFFFFF;
    --color-34: #343434;
    --color-F53: #FF5533;
    --base-bckg: var(--color-34);
    --alt-bckg: var(--color-FF);
    --dark-filter: #00000080;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Javascript class */
/* ----------------------------------------------------------------------------------------------------------------- */
.showAdminMainContent {
    opacity: 1 !important;
    visibility: visible !important;
}
.darkFilter {
    background-color: var(--dark-filter);
    backdrop-filter: blur(2px);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Scrollbar */
/* ----------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--alt-bckg);
}
::-webkit-scrollbar-thumb {
    background: var(--base-bckg);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS HTML elements */
/* ----------------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--alt-bckg);
    overflow-x: hidden;
}
nav {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: var(--base-bckg);
    z-index: 300;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Navbar */
/* ----------------------------------------------------------------------------------------------------------------- */
nav > .siteTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    margin: 0 10px;
}
nav > ul {
    display: flex;
    height: 100%;
}
nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin container */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/bckg1.jpg");
    background-size: cover;
}
.adminContainer .divider {
    width: 80%;
    height: 1px;
    margin: 5px auto;
    background-color: var(--alt-bckg);
}
.adminContainer p, .adminContainer button {
    font-size: 13px;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin panel ( Sidebar + Main content ) */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel {
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    margin: 60px 0 0 0;
    /*background-color: var(--dark-filter);*/
    transition: background-color 0.5s ease-in-out;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin sidebar */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel > .sideBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100% - 20px);
    margin: 10px 0px 10px 10px;
    background-color: var(--base-bckg);
}
.adminPanel > .sideBar > .adminPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 25px;
}
.adminPanel > .sideBar > .adminPhoto > img {
    width: 100%;
    height: 100%;
}
.sideBar > .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 5px auto;
}
.sideBar > .userInfo > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
}
.sideBar > .userInfo > .icon > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--alt-bckg);
}
.sideBar > .userInfo > p {
    margin: auto auto auto 10px;
}
.sideBar > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 5px auto;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.sideBar > button:hover {
    color: var(--color-34);
    background-color: var(--alt-bckg);
}
.sideBar > #editProfile {
    margin: auto auto 10px auto;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin main content */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel > .mainContent {
    display: flex;
    flex-direction: column;
    width: calc(100% - 220px);
    height: calc(100% - 20px);
    margin: 10px;
    position: relative;
}
.adminPanel > .mainContent > div:not(.bottomBar) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin list containers */
/* ----------------------------------------------------------------------------------------------------------------- */
.usersList, .rentalsList, .editForm {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}
.usersList > .adminHeader, .rentalsList > .adminHeader, .editForm > .adminHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 230px);
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--base-bckg);
}
.usersList > h2, .rentalsList > h2, .editForm > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin bottom bar */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel > .mainContent > .bottomBar {
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
    position: absolute;
    bottom: 0;
    background-color: var(--base-bckg);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin user container */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminContainer > .adminPanel > .mainContent > .usersList > table {
    width: 100%;
    margin-top: 50px;
    overflow-y: auto;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr {
    display: flex;
    height: 50px;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td > img {
    width: 40px;
    height: 40px;
    margin: auto;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > th,
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td.delete > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td.delete > a:hover {
    background-color: var(--color-F53);
}