.slidecontainer {
    width: calc(100%/4);
    margin: 30px auto 30px;
}

.slidecontainer > div {
    padding: 15px;
}

.slidecontainer > form {
    display: table-caption;
    position: relative;
    left: calc(100%/3);
    margin-top: 15px;
}

#form_priceMin {

    border-color: #68C4FF;
}

#form_priceMax {

    border-color: #68C4FF;
}

#form_submit {
    margin-top: 10px;
    background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
    color: white;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 35px;
}


.sliderMin {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}


.sliderMin:hover {
    opacity: 1;
}


.sliderMin::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #68C4FF;
    cursor: pointer;
    border-radius: 50%;
}

.sliderMin::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #68C4FF;
    cursor: pointer;
}


.sliderMax {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}

.sliderMax:hover {
    opacity: 1;
}


.sliderMax::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #68C4FF;
    cursor: pointer;
    border-radius: 50%;
}

.sliderMax::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #68C4FF;
    cursor: pointer;
}