{% extends "base.html.twig" %}
{% block title %}Housing Rental{% endblock %}
{% block content %}
    <div class="homeBckg bgImage">
        <h2 class="text-center pt-5">Housing Rental</h2>
        <div class="container mt-5">
            <div class="row justify-content-around">
                {% for house in houses %}
                    {% include 'components/_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}