{% extends "base.html.twig" %}
{% block title %}HousingRental - Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/forms/forms.css') }}">
{% endblock %}
{% block content %}
    <div class="formContainer">
        <div class="formBuilder">
            <h2>Nous contacter</h2>
            {{ form(form, {'attr' : {'novalidate':'novalidate'}}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}