{% extends "base.html.twig" %}
{% block title %}HousingRental - Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/forms/contact.css') }}">
{% endblock %}
{% block content %}
    <div class="formContainer">
        <div>
            <div></div>
            <div>
                <h3>Nous contactez</h3>
                {{ form(form, {'attr' : {'novalidate':'novalidate'}}) }}
            </div>
            <div></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}