/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS - Slider */
/* ----------------------------------------------------------------------------------------------------------------- */
div.homeSlider {
    height: 300px !important;
    margin-top: 100px;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS - Back office content */
/* ----------------------------------------------------------------------------------------------------------------- */
div.backOfficeContainer {
    width: 100%;
}
div.backOfficeContainer > nav.subNav {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 400px;
    box-shadow: var(--box-shadow);
    z-index: 60;
}
div.backOfficeContainer > nav.subNav > div.cache {
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
}
div.backOfficeContainer > nav.subNav > ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}
div.backOfficeContainer > nav.subNav > ul > li {
    padding: 10px;
}
div.backOfficeContainer > nav.subNav > ul > li > a {
    transition: color 0.5s ease-in-out;
}
div.backOfficeContainer > nav.subNav > ul > li > a:hover {
    color: var(--color-primary);
}
div.backOfficeContainer > div.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 460px);
    margin-top: 60px;
    position: relative;
    overflow-y: auto;
}
div.backOfficeContainer > div.tableContainer > table {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-FF);
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
div.backOfficeContainer > div.tableContainer > table#propertiesList {
    opacity: 0;
    z-index: -1;
}
div.backOfficeContainer > div.tableContainer > table > tbody {
    display: grid;
    grid-auto-rows: 60px;
}
div.backOfficeContainer > div.tableContainer > table > tbody > tr {
    display: flex;
}
div.backOfficeContainer > div.tableContainer > table > tbody > tr > th,
div.backOfficeContainer > div.tableContainer > table > tbody > tr > td {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
div.backOfficeContainer > div.tableContainer > table > tbody > tr > th:first-child,
div.backOfficeContainer > div.tableContainer > table > tbody > tr > td:first-child {
    width: calc(120px - 2px);
    flex: none;
    color: var(--color-FF);
    background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS - Footer */
/* ----------------------------------------------------------------------------------------------------------------- */
footer {
    display: none;
}