/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Variables */
/* ----------------------------------------------------------------------------------------------------------------- */
:root {
    --color-FF: #FFFFFF;
    --color-34: #343434;
    --color-35F: #3355FF;
    --color-success: #5BAF4A;
    --color-error: #CF5A43;
    --dark-filter: #00000080;
    --light-filter: #FFFFFF80;
    --base-bckg: var(--color-34);
    --alt-bckg: var(--color-FF);
    --filter: var(--dark-filter);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Theme */
/* ----------------------------------------------------------------------------------------------------------------- */
[data-theme="light"] {
    --base-bckg: var(--color-FF);
    --alt-bckg: var(--color-34);
    --filter: var(--light-filter);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Keyframes */
/* ----------------------------------------------------------------------------------------------------------------- */
@keyframes fadeOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Javascript class */
/* ----------------------------------------------------------------------------------------------------------------- */
.showAdminMainContent {
    opacity: 1 !important;
    visibility: visible !important;
}
.darkFilter {
    background-color: var(--filter);
    backdrop-filter: blur(2px);
}
.confirmAction.switchDisplay {
    display: flex;
}
.confirmAction.showModal {
    visibility: visible;
    opacity: 1;
}
.settings.showSettings {
    width: 250px;
    height: 400px;
}
.settings.showSettings * {
    visibility: visible;
}
.fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Scrollbar */
/* ----------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--alt-bckg);
}
::-webkit-scrollbar-thumb {
    background: var(--base-bckg);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin flash messages */
/* ----------------------------------------------------------------------------------------------------------------- */
.flashMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 100px;
    padding: 20px;
    position: fixed;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    color: var(--alt-bckg);
    cursor: pointer;
}
.flashMessage.success {
    background-color: var(--color-success);
}
.flashMessage.error {
    background-color: var(--color-error);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin modal */
/* ----------------------------------------------------------------------------------------------------------------- */
.confirmAction {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080;
    visibility: hidden;
    opacity: 0;
    z-index: 200;
}
.confirmAction > p {
    margin: auto;
    color: var(--alt-bckg);
}
.confirmAction > .modalButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}
.confirmAction > .modalButtons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    color: var(--alt-bckg);
    border-radius: 15px;
    box-shadow: 2px 2px 4px #00000080;
}
button#confirm:hover {
    background-color: var(--color-success);
}
button#cancel:hover {
    background-color: var(--color-error);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin settings container */
/* ----------------------------------------------------------------------------------------------------------------- */
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 15px;
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080;
    z-index: 150;
}
.settings * {
    visibility: hidden;
}
.settings > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--alt-bckg);
}
.settings > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    color: var(--alt-bckg);
}
.settings > div.themeSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}
.settings > div.themeSelect > .switch {
    display: flex;
    width: 90px;
    height: 30px;
    position: relative;
}
.settings > div.themeSelect > .switch > input {
    display: none;
}
.settings > div.themeSelect > .switch > .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080 inset;
    cursor: pointer;
}
.settings > div.themeSelect > .switch > .slider:before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--alt-bckg);
    transition: all 0.4s ease-in-out;
}
.settings > div.themeSelect input:checked + .slider {
    background-color: var(--alt-bckg);
}
.settings > div.themeSelect input:checked + .slider:before {
    left: calc(100% - 25px);
    background-color: var(--base-bckg);
}
.settings > div.themeSelect > .switch > .slider.round {
    border-radius: 15px;
}
.settings > div.themeSelect > .switch > .slider.round:before {
    border-radius: 15px;
}
.settings > div.themeSelect > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--alt-bckg);
}
.settings > div.themeSelect > i:first-of-type {
    margin: auto 10px auto auto;
}
.settings > div.themeSelect > i:last-of-type {
    margin: auto auto auto 10px;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS HTML elements */
/* ----------------------------------------------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--alt-bckg);
    overflow-x: hidden;
}
main {
    height: 100%;
}
nav {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080;
    z-index: 300;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Navbar */
/* ----------------------------------------------------------------------------------------------------------------- */
nav > .siteTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    margin: 0 10px;
    color: var(--alt-bckg);
}
nav > ul {
    display: flex;
    height: 100%;
}
nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    color: var(--alt-bckg);
}
nav > ul > li > a:hover {
    color: var(--base-bckg);
    background-color: var(--alt-bckg);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin container */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../../images/backgrounds/bckg1.jpg");
    background-size: cover;
}
.adminContainer .divider {
    width: 80%;
    height: 1px;
    margin: 5px auto;
    background-color: var(--alt-bckg);
}
.adminContainer p, .adminContainer button {
    font-size: 13px;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin panel ( Sidebar + Main content ) */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel {
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    margin: 60px 0 0 0;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin sidebar */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel > .sideBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100% - 20px);
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080;
}
.adminPanel > .sideBar > .adminPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #00000080;
}
.adminPanel > .sideBar > .adminPhoto > img {
    width: 100%;
    height: 100%;
}
.sideBar > .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 5px auto;
}
.sideBar > .userInfo > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
}
.sideBar > .userInfo > .icon > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--alt-bckg);
}
.sideBar > .userInfo > p {
    margin: auto auto auto 10px;
    color: var(--alt-bckg);
}
.sideBar > a,
.sideBar > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 5px auto;
    color: var(--alt-bckg);
    border-radius: 15px;
    box-shadow: 2px 2px 4px #00000080;
}
.sideBar > a:hover,
.sideBar > button:hover {
    color: var(--base-bckg);
    background-color: var(--alt-bckg);
}
.sideBar > #editProfile {
    margin: auto auto 10px auto;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin main content */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel > .mainContent {
    display: flex;
    flex-direction: column;
    width: calc(100% - 220px);
    height: calc(100% - 20px);
    margin: 10px;
    position: relative;
}
.adminPanel > .mainContent > div:not(.bottomBar):not(.settings) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin containers */
/* ----------------------------------------------------------------------------------------------------------------- */
.usersList, .rentalsList, .editForm {
    opacity: 0;
    visibility: hidden;
}
.usersList > .adminHeader, .rentalsList > .adminHeader, .editForm > .adminHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 230px);
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #00000080;
    background-color: var(--base-bckg);
}
.usersList h2, .rentalsList h2, .editForm h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--alt-bckg);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin bottom bar */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel > .mainContent > .bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
    position: absolute;
    bottom: 0;
    z-index: 200;
}
.adminPanel > .mainContent > .bottomBar > #adminPageSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: auto 10px auto auto;
    border-radius: 15px;
    background-color: var(--base-bckg);
}
.adminPanel > .mainContent > .bottomBar > #adminPageSettings > i {
    color: var(--alt-bckg);
}
.adminPanel > .mainContent > .bottomBar > #adminPageSettings:hover {
    background-color: var(--alt-bckg);
}
.adminPanel > .mainContent > .bottomBar > #adminPageSettings:hover > i {
    color: var(--base-bckg);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin user container */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminContainer > .adminPanel > .mainContent > .usersList > table,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table {
    width: 100%;
    margin-top: 50px;
    overflow-y: auto;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr {
    display: flex;
    height: 50px;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > th,
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > th,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--alt-bckg);
    overflow: hidden;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td > img,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td > img {
    width: 40px;
    height: 40px;
    margin: auto;
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td.delete > a,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td.delete > a,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td.update > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--alt-bckg);
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td.delete > a:hover,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td.delete > a:hover {
    background-color: var(--color-error);
}
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td.update > a:hover {
    background-color: var(--color-35F);
}
.adminContainer > .adminPanel > .mainContent > .usersList > table > tbody > tr > td.delete > a > i,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td.delete > a > i,
.adminContainer > .adminPanel > .mainContent > .rentalsList > table > tbody > tr > td.update > a > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}