/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin container */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminContainer .divider:last-of-type {
    visibility: hidden;
    opacity: 0;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin panel ( Sidebar + Main content ) */
/* ----------------------------------------------------------------------------------------------------------------- */
.adminPanel {
    background-color: var(--filter);
    backdrop-filter: blur(2px);
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin sidebar */
/* ----------------------------------------------------------------------------------------------------------------- */
.sideBar > a,
.sideBar > button {
    visibility: hidden;
    opacity: 0;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin containers */
/* ----------------------------------------------------------------------------------------------------------------- */
.editForm {
    opacity: 1;
    visibility: visible;
}
.editForm > .adminHeader {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* CSS Admin forms */
/* ----------------------------------------------------------------------------------------------------------------- */
.editForm > a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 30px;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--alt-bckg);
    border-radius: 15px;
    box-shadow: 2px 2px 4px #00000080;
}
.editForm > a:hover {
    color: var(--base-bckg);
    background-color: var(--alt-bckg);
}
.editForm > form {
    width: 100%;
    height: calc(100% - 50px);
    margin: 50px auto auto auto;
}
.editForm > form > #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.editForm > form > #form > .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.editForm > form input[type="text"],
.editForm > form input[type="email"],
.editForm > form input[type="password"],
.editForm > form input[type="number"],
.editForm > form select {
    width: 200px;
    height: 30px;
    margin: 10px auto;
    padding: 0 10px;
    color: var(--alt-bckg);
    border-radius: 15px;
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080 inset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
.dropify-wrapper {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    color: var(--alt-bckg);
    background-color: var(--base-bckg);
    box-shadow: 2px 2px 4px #00000080 inset;
    transition: all 0.5s ease-in-out;
}
.editForm > form > #form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 5px auto;
    color: var(--alt-bckg);
    background-color: var(--base-bckg);
    border-radius: 15px;
    box-shadow: 2px 2px 4px #00000080;
}
.editForm > form > #form button:hover {
    color: var(--base-bckg);
    background-color: var(--alt-bckg);
}
.dropify-wrapper > .dropify-preview {
    border-radius: 10px;
    background: none;
}