<footer>
    <div class="center">
        <a class="footer_link" href="{{ path('default_home') }}">HousingRental</a>
        <a class="footer_link" href="{{ path('contact_new') }}">Nous Contacter</a>
    </div>
    <hr class="w-75">
    <div class="social">
        <a href="https://google.com"><i class="fab fa-facebook-square"></i></a>
        <a href="https://google.com"><i class="fab fa-instagram-square"></i></a>
        <a href="https://google.com"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="credentials">
        &copy; 2020 - HousingRental | <a class="footer_link" href="">Politique de confidentialité</a>
    </div>
</footer>